@use "../shared/variables";

.MainWindow {
  display: flex;
  gap: 8px;
  flex-direction: column;
  color: variables.$text-color;
  align-items: center;
  background-color: variables.$content-backround-color;
  .Charts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 90vw;
    flex-wrap: wrap;
    gap: 8px;
  }
  h1 {
    text-align: center;
  }
  .ButtonsHolder {
    display: flex;
    width: 40vw;
    justify-content: space-around;
    .StartUpdtIntvBtn{
      padding: 8px;
      border-radius: 5px;
      border: none;
    }
    .StopUpdtIntvBtn{
      padding: 8px;
      border-radius: 5px;
      border: none;
    }
  }

}