@use "../shared/variables";

.MainWindow {
  display: flex;
  flex-direction: column;
  color: variables.$text-color;
  align-items: center;
  background-color: variables.$content-backround-color;
  .Charts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 90vw;
    flex-wrap: wrap;
    gap: 8px;
  }
  h1 {
    text-align: center;
  }

}