@use "../shared/variables";

.MainWindow {
  display: flex;
  flex-direction: column;
  color: variables.$text-color;
  align-content: center;
  justify-content: center;
  height: 93vh;
  background-color: variables.$content-backround-color;
  h1 {
    text-align: center;
  }

}